// HEADER 
$marginTextHeader: 20px;
$margin: 30px;

// SECTION PRES 
$roseSaumon: #E7816B;
$bgColor: $roseSaumon;
$width: 100%;
$heightPres: 450px;
$borderRadius: 10px;
$shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
$fontColor: white;
// CONTENT
$paddingContentPres: 75px 100px 0 70px;
// BTN 
$btnShadow:0px 0px 10px 1px rgba(0,0,0,0.7);

// SECTION SERVICES

$imgPassport: url(../img/passport.jpg);
$imgMontgolfiere: url(../img/montgolfiere.jpg);

$shadowServices: 0px 5px 8px 0px #000000;


// FEATURES
$heightFeatures: 300px;

// FOOTER 

$bgColorFooter: #1D1D1F;

